.box{
    opacity: 0.5;
    font-size:20px;
    height:400px;
    width:600px;
    border:2px orange;
    padding:20px;
    margin:20px;
    /* margin-top:;  */
    margin-left: 500px;
    border-radius: 40px;
    background-color:white;
    accent-color:white;
} 
.box:hover {
	box-shadow: 0 8px 16px 0 rgba(245, 158, 7, 0.5);
  }
body { 
    background-image: url("../img/study.jpg");
    background-size: 100%;
    background-color: #cccccc;
}