.bgimg {
	background-image: url("../img/study.jpg");
	background-size: 100%;
	background-color: #000000;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.input-box{
    width: 300px;
    height: 30px;
    outline: none;
    border-color: white;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}
.text-center{
	text-align: center;
}
.heading{
	font-size: 30px;
}
.card-admin {
	/* Add shadows to create the "card" effect */
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background: rgba(114, 114, 114, 0.5);
	transition: 0.3s;
	text-align: center;
	margin: 60px 10px 7px 400px;
	padding: 10px 10px 30px 10px;
	border-radius: 10px;
  }

  /* On mouse-over, add a deeper shadow */
  .card-admin:hover {
	box-shadow: 0 8px 16px 0 rgba(245, 158, 7, 0.5);
  }
  .card-student {
	/* Add shadows to create the "card" effect */
	display: inline-block;
	min-width: 350px;
	min-height: 310px;
	position:absolute;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background: rgba(114, 114, 114, 0.5);
	transition: 0.3s;
	text-align: center;
	margin: 60px 10px 7px 200px;
	padding: 10px 10px 30px 10px;
	border-radius: 10px;
  }

  /* On mouse-over, add a deeper shadow */
  .card-student:hover {
	box-shadow: 0 8px 16px 0 rgba(245, 158, 7, 0.5);
  }
  /* Add some padding inside the card container */
  .container {
	padding: 2px 16px;
  }
  .button-18 {
	margin-top: 20px;
    align-items: center;
    background-color: #1abe17;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 100px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .button-18:hover,
  .button-18:focus { 
    background-color: #369613;
    color: #ffffff;
  }
  
  .button-18:active {
    background: #068409;
    color: rgb(255, 255, 255, .7);
  }
  
  .button-18:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }